*{box-sizing: border-box;}
body{
	background-image: url('file:///C:/Users/alyst_000/Desktop/geekwise/begwebdesign/imperialglass/img/skys.jpg');
	background-position: center;
	
}
.container{
	width: 1000px;
	height: 500px;
	padding-left: 100px;
}
.main{
	margin: center 0;
	width: 1000px;
	height: 400px;
	background-color: grey;
	opacity: .4
}